.config__container{
    position: fixed;
    top: 10.5%;
    height: 89.5vh;
    left: 5%;
    z-index: 0;
    width: 25%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #ccc;
    h2{
        padding: 10px;
        border-bottom: 2px solid #ccc;
    }
}
.config__buttons button{
    width: 100%;
    text-align: start;
    padding: 10px;
    font-size: 20px;
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #ccc;
}

.account.visible{
    opacity: 1;
}
.account{
    opacity: 0;
    margin-top: -100%;
}
.notifications.visible{
    opacity: 1;
}
.notifications{
    opacity: 0;
    margin-top: -100%;
}
.change__language.visible{
    opacity: 1;
}
.change__language{
    opacity: 0;
    margin-top: -100%;
}
.privacy.visible{
    opacity: 1;
}
.privacy{
    opacity: 0;
    margin-top: -100%;
}
.advanced__config.visible{
    opacity: 1;
}
.advanced__config{
    opacity: 0;
    margin-top: -100%;
}  

.no-Account{
    position: absolute;
    top: 20.5%;
    left: 30%;
    padding: 10px;

    .container__errorNoAccount{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

        h2{
            margin-bottom: 3%;
        }
        #buttonIdError{
            background-color: #6312aa;
            color: white;
            padding: 10px;
            font-size: 20px;
            margin-bottom: 5%;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            transition: all 300ms;
        }
    }
}